doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title BeCafé - About Page
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet')
  link(href='css/all.min.css' rel='stylesheet')
  link(href='css/templatemo-style.css' rel='stylesheet')
.container
  // Top box
  // Logo & Site Name
  .placeholder
    .parallax-window(data-parallax='scroll' data-image-src='img/cafe-01.jpg')
      .tm-header
        .row.tm-header-inner
          .col-md-6.col-12
            img.tm-site-logo(src='img/logo.png' alt='Logo')
            .tm-site-text-box
              h1.tm-site-title BeCafé
              h6.tm-site-description community + cafe
          nav.col-md-6.col-12.tm-nav
            ul.tm-nav-ul
              li.tm-nav-li
                a.tm-nav-link(href='/') Home
              li.tm-nav-li
                a.tm-nav-link.active(href='about') About
              li.tm-nav-li
                a.tm-nav-link(href='contact') Contact
  main
    header.row.tm-welcome-section
      h2.col-12.text-center.tm-section-title About BeCafé
      p.col-12.text-center
        | BeCafé is a popular canadian café known for its range of delicious espresso coffees, teas, and pastries. The café has become a popular destination for both tourists and locals alike. Whether you’re looking for a quick cup of coffee or a specialty cake, BeCafé is the perfect place to find it.
    .tm-container-inner.tm-persons
      .row
        article.col-lg-6
          figure.tm-person
            img.img-fluid.tm-person-img(src='img/about-01.jpg' alt='Image')
            figcaption.tm-person-description
              h4.tm-person-name Jennifer Soft
              p.tm-person-title Founder and CEO
              p.tm-person-about
                | The future for Becafe is truly unstoppable.
                | We will continue to
                | change how the industry is.
              div
                a.tm-social-link(href='https://fb.com')
                  i.fab.fa-facebook.tm-social-icon
                a.tm-social-link(href='https://twitter.com')
                  i.fab.fa-twitter.tm-social-icon
                a.tm-social-link(href='https://instagram.com')
                  i.fab.fa-instagram.tm-social-icon
        article.col-lg-6
          figure.tm-person
            img.img-fluid.tm-person-img(src='img/about-02.jpg' alt='Image')
            figcaption.tm-person-description
              h4.tm-person-name Daisy Walker
              p.tm-person-title Executive Chef
              p.tm-person-about
                | Becafe has given me a career where being my true self is celebrated.
                | The sky is the limit for Becafe.
              div
                a.tm-social-link(href='https://fb.com')
                  i.fab.fa-facebook.tm-social-icon
                a.tm-social-link(href='https://twitter.com')
                  i.fab.fa-twitter.tm-social-icon
        article.col-lg-6
          figure.tm-person
            img.img-fluid.tm-person-img(src='img/about-03.jpg' alt='Image')
            figcaption.tm-person-description
              h4.tm-person-name Florence Nelson
              p.tm-person-title Kitchen Manager
              p.tm-person-about
                | When I'm not at work, you can always.
                | find me on a trail with my dog wandering the city, or playing in the mountains
              div
                a.tm-social-link(href='https://fb.com')
                  i.fab.fa-facebook.tm-social-icon
                a.tm-social-link(href='https://instagram.com')
                  i.fab.fa-instagram.tm-social-icon
        article.col-lg-6
          figure.tm-person
            img.img-fluid.tm-person-img(src='img/about-04.jpg' alt='Image')
            figcaption.tm-person-description
              h4.tm-person-name Valentina Martin
              p.tm-person-title Culinary Director
              p.tm-person-about
                |  If there's a home team playing anything,
                | odds are I'm watching and cheering them on!
              div
                a.tm-social-link(href='https://fb.com')
                  i.fab.fa-facebook.tm-social-icon
                a.tm-social-link(href='https://twitter.com')
                  i.fab.fa-twitter.tm-social-icon
                a.tm-social-link(href='https://instagram.com')
                  i.fab.fa-instagram.tm-social-icon
                a.tm-social-link(href='https://youtube.com')
                  i.fab.fa-youtube.tm-social-icon
    .tm-container-inner.tm-featured-image
      .row
        .col-12
          .placeholder-2
            .parallax-window-2(data-parallax='scroll' data-image-src='img/about-05.jpg')
    .tm-container-inner.tm-history
      .row
        .col-12
          .tm-history-inner
            img.img-fluid.tm-history-img(src='img/about-06.jpg' alt='Image')
            .tm-history-text
              h4.tm-history-title History of our café
              p.tm-mb-p
                | We are a Canadian cafe serving the best artisan coffee, dippy eggs, fresh sandwiches, cakes, homemade peanut butter, and lots of ❤ in Toronto.
              p
                | We take pride in sourcing our ingredients. Our free range eggs are from a family run farm in North Wales. Bread is baked by artisan bakery the Flour station and cakes are made in our own kitchen by hand. 
  footer.tm-footer.text-center
    p
      | Copyright &copy; 2023 BeCafé
script(src='js/jquery.min.js')
script(src='js/parallax.min.js')
