doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title BeCafé
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet')
  link(href='css/templatemo-style.css' rel='stylesheet')
.container
  // Top box
  // Logo & Site Name
  .placeholder
    .parallax-window(data-parallax='scroll' data-image-src='img/cafe-01.jpg')
      .tm-header
        .row.tm-header-inner
          .col-md-6.col-12
            img.tm-site-logo(src='img/logo.png' alt='Logo')
            .tm-site-text-box
              h1.tm-site-title BeCafé
              h6.tm-site-description community + cafe
          nav.col-md-6.col-12.tm-nav
            ul.tm-nav-ul
              li.tm-nav-li
                a.tm-nav-link.active(href='/') Home
              li.tm-nav-li
                a.tm-nav-link(href='about') About
              li.tm-nav-li
                a.tm-nav-link(href='contact') Contact
  main
    header.row.tm-welcome-section
      h2.col-12.text-center.tm-section-title Welcome to BeCafé
      p.col-12.text-center
        | A café that is as much a part of the community as its people – located in the heart of downtown Toronto. We believe in ALL DAY BREAKFAST, roots, goodness, family, love, hard work, fun, and honesty.
    .tm-paging-links
      
      nav
        ul
          li.tm-paging-item
            a.tm-paging-link(href='#') Pizza
          li.tm-paging-item
            a.tm-paging-link.active(href='#') Salad
          li.tm-paging-item
            a.tm-paging-link(href='#') Noodle
          
    // Gallery
    .row.tm-gallery
      // gallery page 1
      #tm-gallery-page-pizza.tm-gallery-page.hidden
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/Deluxe Handmade Pan Pizza.png' alt='Image')
            figcaption
              h4.tm-gallery-title Deluxe Pizza
              p.tm-gallery-description Crispy golden crust and a buttery taste topped with provolone cheese, mozzarella cheese and your favourite toppings all the way to the edge.
              p.tm-gallery-price $15
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/Chicken Bacon Alfredo Feast.png' alt='Image')
            figcaption
              h4.tm-gallery-title Chicken Bacon Alfredo
              p.tm-gallery-description An Alfredo Sauce base with a Mozzarella/Cheddar Cheese blend, fresh mushrooms, onions, all white-meat chicken, bacon and Provolone cheese
              p.tm-gallery-price $16
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/Spinach & Feta Pizza.png' alt='Image')
            figcaption
              h4.tm-gallery-title Spinach and Feta Pizza
              p.tm-gallery-description Creamy Alfredo sauce, fresh baby spinach, fresh onions, feta, Parmesan-Asiago, provolone and cheese made with 100% real mozzarella.
              p.tm-gallery-price $13
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/Pacific Veggie Pizza.png' alt='Image')
            figcaption
              h4.tm-gallery-title Pacific Veggie Pizza
              p.tm-gallery-description Roasted red peppers, fresh baby spinach, fresh onions, fresh mushrooms, cheese made with 100% real mozzarella and sprinkled with a garlic herb seasoning
              p.tm-gallery-price $12
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/Philly Steak.png' alt='Image')
            figcaption
              h4.tm-gallery-title Philly Steak
              p.tm-gallery-description Loaded with tender slices of steak, onions, green peppers, mushrooms, and 3 different types of cheese. 
              p.tm-gallery-price $18
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/Canadian Pizza.png' alt='Image')
            figcaption
              h4.tm-gallery-title Canadian Pizza
              p.tm-gallery-description Loads of pepperoni, fresh mushrooms, and smoked bacon, topped with an extra layer of premium mozzarella cheese.
              p.tm-gallery-price $12
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/Hawaiian Pizza.png' alt='Image')
            figcaption
              h4.tm-gallery-title Hawaiian Pizza
              p.tm-gallery-description Crispy golden crust and a buttery taste topped with provolone cheese and slices of ham topped with an extra layer of cheese.
              p.tm-gallery-price $19
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/6 Cheese Pizza.png' alt='Image')
            figcaption
              h4.tm-gallery-title 6 Cheese Pizza
              p.tm-gallery-description Covered with Feta, provolone, cheddar, Parmesan-Asiago, and mozzarella cheese finished with a sprinkle of oregano.
              p.tm-gallery-price $15
      // gallery page 1
      // gallery page 2
      #tm-gallery-page-salad.tm-gallery-page
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/04.jpg' alt='Image')
            figcaption
              h4.tm-gallery-title Classic Bowl
              p.tm-gallery-description
                | Purple rice and the 1/2 tuna, 1/2 salmon bowl. The flavours are amazing
              p.tm-gallery-price $25
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/03.jpg' alt='Image')
            figcaption
              h4.tm-gallery-title Buffalo Cauliflower
              p.tm-gallery-description
                | Cauliflower and breading have a good consistency, crispy yet moist, spicy Buffalo and ranch sauces
              p.tm-gallery-price $13
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/05.jpg' alt='Image')
            figcaption
              h4.tm-gallery-title Quinoa onion
              p.tm-gallery-description
                | The thick slices are coated with a light-but-textured mixture of puffed quinoa and breadcrumbs
              p.tm-gallery-price $14
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/01.jpg' alt='Image')
            figcaption
              h4.tm-gallery-title The Beach bowl
              p.tm-gallery-description
                | Brown basmati rice with hefty slices of grilled red pepper, zucchini, sweet potato and avocado
              p.tm-gallery-price $15
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/08.jpg' alt='Image')
            figcaption
              h4.tm-gallery-title Chicken Momos
              p.tm-gallery-description
                | Pack with chicken, veggies, soya, paneer or whatever your heart fancies!
              p.tm-gallery-price $16
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/07.jpg' alt='Image')
            figcaption
              h4.tm-gallery-title The Phytosalad
              p.tm-gallery-description
                | Microgreens for some extra texture and weight, lettuce, edamame, crispy onions, thick tofu steaks
              p.tm-gallery-price $17
      // gallery page 2
      // gallery page 3
      #tm-gallery-page-noodle.tm-gallery-page.hidden
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/Chefs Special Noodles.png' alt='Image')
            figcaption
              h4.tm-gallery-title Chefs Special Noodles
              p.tm-gallery-description
                | Chefs special and baked chicken steak with tomato sauce, vegetable soup, fresh soya milk
              p.tm-gallery-price $12.50
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/Wok Fried Rice Noodles.png' alt='Image')
            figcaption
              h4.tm-gallery-title Wok Fried Rice Noodles
              p.tm-gallery-description
                | Afternoon special sliced chicken w/ mushroom stir fried rice noodle with cold lemon tea
              p.tm-gallery-price $15.50
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/Stir Fried Noodle.png' alt='Image')
            figcaption
              h4.tm-gallery-title Stir Fried Noodle
              p.tm-gallery-description
                | Afternoon tea special Stir fried spaghetti with pork chop + Cold Lemon Tea
              p.tm-gallery-price $20.50
        article.col-lg-3.col-md-4.col-sm-6.col-12.tm-gallery-item
          figure
            img.img-fluid.tm-gallery-img(src='img/gallery/Spicy Beef Noodle.png' alt='Image')
            figcaption
              h4.tm-gallery-title Spicy Beef Noodle
              p.tm-gallery-description
                | Spicy Beef stew noddles with an awesome broth, on the oily side but very tasty!
              p.tm-gallery-price $13
    // gallery page 3
    .tm-section.tm-container-inner
      .row
        .col-md-6
          figure.tm-description-figure
            img.img-fluid(src='img/img-01.jpg' alt='Image')
        .col-md-6
          .tm-description-box
            h4.tm-gallery-title To our Beloved Community
            p.tm-mb-45
              | BeCafé may not serve any of the usual café items, but its menu does include everything you need to be more productive and successful, so you can spend more time on building client relationships. 
            a.tm-btn.tm-btn-default.tm-right(href='about') Read More
  footer.tm-footer.text-center
    p
      | Copyright &copy; 2023 BeCafé 
script(src='js/jquery.min.js')
script(src='js/parallax.min.js')
script.
  $(document).ready(function(){
  // Handle click on paging links
  $('.tm-paging-link').click(function(e){
  e.preventDefault();
  var page = $(this).text().toLowerCase();
  $('.tm-gallery-page').addClass('hidden');
  $('#tm-gallery-page-' + page).removeClass('hidden');
  $('.tm-paging-link').removeClass('active');
  $(this).addClass("active");
  });
  });


//-   nav
//-         ul
//-          each category in categories 
//-           li.tm-paging-item
//-             a.tm-paging-link.active(href='#') category